<html>
  <head>
    <title>RubymineBlogOnRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
      <div class="bg-primary text-white text-center mb-4 p-4">
        <%= link_to root_path, class: 'text-white' do%>

          <h1 class="display-4"> Blog on Rails with Rubymine </h1>

        <% end %>

        <p class="lead">
          Blog criado para fins de estudo do framwork rails com a IDE Rubymine.
        </p>

      </div>

      <div class="row">
        <div class="col-6 offset-6">
          <div class="search">
            <%= form_with url: search_posts_path, method: :get, local: true, class: 'form-inline' do |form|%>
              <div class="input-group">
                <%= form.search_field :q, class: 'form-control', require: true, placeholder: 'Pesquisar'%>
                <div class="input-group-append p-1 ">
                  <%= form.submit 'Buscar', class: 'btn btn-primary', data: { disable_with: 'Buscando...' }%>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>


      <div class="container">
        <%= yield %>
      </div>
  </body>

      <footer class="bg-primary text-white text-center mt-5 p-4" >
        Copyright © pjmaciel <%= Date.current.year %>
      </footer>

  <!-- Adicione o código do JavaScript para inicializar os tooltips -->
  <script>
      document.addEventListener("DOMContentLoaded", function() {
          var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
          var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
              return new bootstrap.Tooltip(tooltipTriggerEl);
          });
      });
  </script>
  </body>
</html>
